[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/MarkGillespie/polyscope.git
	branch = CEPS_features
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/MarkGillespie/geometry-central.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
